---
title: UniqueAI websearch benchmark results
---

{% for record in records %}
# Question: {{record['question']}}
---

{% for assistant in record['assistants'] %}
## Assistant ID: {{assistant['assistant_id']}}
- Chat ID: {{assistant['chat_id']}}
- Status: {{assistant['status']}}
- Number of Searches: {{assistant['num_searches']}} 
- Total Search Time: {{assistant['search_time']}}
- Total Crawl Time: {{assistant['crawl_time']}}
- Total Response Time: {{assistant['total_time']}}
## Breakdown
| Generated Query | refined Query | Date Restrict | # Results |
|-----------------|---------------|---------------|-----------|
{% for query in assistant['queries'] -%}
| {{query['search_query']}} | {{query['refined_query']}} | {{query['date_restrict']}} | {{query['search_results']|length}} |
{%- endfor %}

{% for query in assistant['queries'] %}
<details>
<summary>Search Results for {{query['search_query']}}</summary>
{% for result in query['search_results'] %}
- {{result.url}} - {{result.title}}
{{result.content}}
{% endfor %}
</details>
{% endfor %}

{% if assistant['status'] == 'success' %}
## Response: 
{{assistant['assistant_message']}}

## Assessment {% if assistant['assessment']['label'] == 'GREEN' %}🟢{% elif assistant['assessment']['label'] == 'YELLOW' %}🟡{% elif assistant['assessment']['label'] == 'RED' %}🔴{% else %}{{assistant['assessment']['label']}}{% endif %}:
- Explanation: {{assistant['assessment']['explanation']}}

{% else %}
## Error: 
{{assistant['error_message']}}
{% endif %}

---
{% endfor %} 
---
{% endfor %}
